/*  Fuentes de letras */

@font-face {
	font-family:'Metropolis1920-Regular';
	src: url('../fonts/Metropolis1920_gdi.eot');
	src: url('../fonts/Metropolis1920_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Metropolis1920_gdi.woff') format('woff'),
		url('../fonts/Metropolis1920_gdi.ttf') format('truetype'),
		url('../fonts/Metropolis1920_gdi.svg#Metropolis1920-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-20AC;
}

/*Fuentes de letras */
.main-contain {
    background: url('../img/bg.jpg') no-repeat center center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
	.main-contain .cont-form {
	    margin: 0 auto;		
	    padding-top: 30px;
	    width: 400px;
	    height: 500px;
	}
		form.formulario {
			margin: 0 auto;
			padding: 35px 50px 35px 50px;
			background: rgba(0,0,0,0.7);
			width: 300px;
			height: auto;
		}
		h2.form-header-title {
			font-family: 'Metropolis1920-Regular';
    		line-height: 1.2em;
			text-align: center;
			color: #E0DDDD;
			font-size: 26px;
			margin: 0 0 40px;
		}
		label {
		    display: block;
		    color:#CFCBCC;
		    font-family: 'Metropolis1920-Regular';
		    margin: 0 auto;
		    text-align: center;
		    font-weight: bold;
		    text-transform: uppercase;
		}
		.cond-uso {
		    color:#CFCBCC;
		    text-decoration: none;		
		}
		input[type="text"] {
			text-transform:uppercase;
			text-align:center;
			padding-top: 15px;
			padding-bottom: 15px;
			text-indent: 10px;
			width: 100%;
			margin: 10px auto;
			background-color: rgba(0,0,0,0.5);
			color: white;
			border: solid 1px;
		}
		.cont-radio	{
		    color:#CFCBCC;
		    font-family: 'Metropolis1920-Regular';
			text-align: center;
		}
			.area-radio {
				padding-top: 10px;
			}	
		a.enviar {
			background-color: rgba(0,0,0,0.5);
			border: solid 1px #FFF;
			color: #fff;
			display: block;
			margin: 0 auto;
			width: 100%;
			margin-top: 20px;
			text-align: center;
			text-decoration: none;
			font-size: 18px;
			font-family: 'Metropolis1920-Regular';
			padding: 15px 0;
		}
		a.enviar:hover {
			background-color: white;
			color:#000;
			-webkit-transition: ease all 1s;
			-o-transition: ease all 1s;
			transition: ease all 1s;
		}

.alert-desc {
	background-color: rgba(0,0,0,0.78);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

	.cuadro-text {
	    background-color: white;
	    border-radius: 15px;
	    margin: 160px auto;
	    width: 40%;
	}

		h2.alert-text {
		    color: #424242;
		    font-family: arial;
		    font-size: 22px;
		    margin: 0;
		    padding: 22px 25px;
		}

		button.ok {
		    background: white;
		    border: 0;
		    border-radius: 0px 0px 15px 15px;
		    border-top: solid 1px #a7a5a5;
		    color: rgba(2,123,255,0.58);
		    cursor: pointer;
		    display: block;
		    font-size: 16px;
		    font-weight: bold;
		    margin: 0 auto;
		    outline: none;
		    width: 100%;
		    height: 60px;
		}
		button.ok:hover {
			background-color: #f3f3f3;
		}

@media screen and (max-width: 865px) {

	.cuadro-text {
	    width: 80%;
	}

}

@media screen and (max-width: 476px) {

	.main-contain .cont-form {
		background-color: rgba(0,0,0,0.7);
		margin: 0 auto;
		padding-top: 0;
		width: 100%;
		height: 100%;
	}
	form.formulario {
		background: none;
		margin: 0 auto;
		padding: 35px 50px 35px 50px;
		width: 70%;
	}
}